### 1. Swap the number without using third varible

In [1]:
a=5
b=10
print("a=",a, "b=",b)
a,b=b,a
print("a=",a, "b=",b)

a= 5 b= 10
a= 10 b= 5

###  2. Write a Program to extract each digit from an integer in the reverse order.
**For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.**

In [4]:
a=512849
b=str(a)[::-1]
for i in b:
    print(i, end=" ")

9 4 8 2 1 5

### 3.  Write a program that will give you the sum of 3 digits

In [6]:
num=436
print(num)
a=num%10
num=num//10
b=num%10
c=num//10
print("sum=", a+b+c)

436
sum= 13

### 4. Write a program that will reverse a four digit number.Also it checks whether the reverse is true.

In [7]:
num=6381
reverse=str(num)[::-1]
print("Original Number", num)
print("Reversed Number", int(reverse))

Original Number 6381
Reversed Number 1836

### 5.  Write a program to find the euclidean & manhattan distance between two coordinates.
**When a(x1,y1), b(x2,y2) then Eclidean Distance, d =sqrt((x2-x1)^2 + (y2-y1)^2)**

**When a(x1,y1), b(x2,y2) then Manhattan Distance, d =|x1-x2| + |y1-y2|**

In [10]:
import math

a=(5,2)
b=(3,4)
math.dist(a, b) # math.dist help to calculate euclidean distance between two points

2.8284271247461903

In [11]:
import numpy as np

In [13]:
Eclidean_Distance= np.sqrt((3-5)**2 +(4-2)**2)
print("Eclidean_Distance = ", round(Eclidean_Distance, 2))
Manhattan_Distance= abs(5-3)+abs(2-4)
print("Manhattan_Distance = ", round(Manhattan_Distance, 2))

Eclidean_Distance =  2.83
Manhattan_Distance =  4

### 6.  Write a program that will tell whether the given number is divisible by 3 & 6.

In [16]:
num=int(input("Enter Number = "))
if num%3==0 and num%6==0:
    print("Number is divisible by 3 and 6")
elif num%3==0 and num%6!=0:
    print("Number is only divisible by 3 and not by 6")
elif num%3!=0 and num%6==0:
    print("Number is only divisible by 6 and not by 3")  
else:
    print("Number is divisible not by 3 and 6")

Enter Number = 48
Number is divisible by 3 and 6

### 7. Write a program that will take three digits from the user and add the square of each digit.

In [21]:
num=int(input("Enter 3 Digit Number = "))
a=num%10
num=num//10
b=num%10
num=num//10
c=num%10
print("Sum of squre of each digit = ", sum((a**2,b**2,c**2)))

Enter 3 Digit Number = 534
Sum of squre of each digit =  50

### 8. Write a program that will check whether the three digit number is armstrong number or not.
**An Armstrong number is one whose sum of digits raised to the power three equals the number itself. 371, for example, is an Armstrong number because 3**3 + 7**3 + 1**3 =371.**

In [49]:
number=int(input("Enter 3 Digit Number = "))
a=number%10
num=number//10
b=num%10
c=num//10
if (a**3+b**3+c**3)==number:
    print("Enter number is Armstrong Number")
else:
    print("Enter number is not Armstrong Number")

Enter 3 Digit Number = 153
Enter number is Armstrong Number

### 9. Write a program that will check whether the number is prime number or not.
**a whole number greater than 1 that cannot be exactly divided by any whole number other than itself and 1 (e.g. 2, 3, 5, 7, 11):**

In [68]:
num=int(input("Enter a number = "))
flag=False
if num==1:
    flag=True
elif num>1:
    for i in range(2, num):
        if num%i==0:
            flag=True
            break
if flag:
    print(f"{num} is not a prime number")
else:
    print(f"{num} is a prime number")

Enter a number = 6
6 is not a prime number

### 10. Convert decimal number to octal

In [74]:
num=int(input("Enter decimal number = "))
octal=oct(num)[-2::]
print("Octal Number =", octal)

Enter decimal number = 1234
Octal Number = 22

### 11. Print all factors of a number entered by user

In [78]:
num=int(input("Enter Number ="))
for i in range(1, num+1):
    if num%i==0:
        print(i, end=" ")

Enter Number =36
1 2 3 4 6 9 12 18 36

### 12.  Accept a list of 5 float numbers as an input from the user.

In [86]:
my_list=input("Enter 5 float numbers = ").split(" ")
print(my_list)

Enter 5 float numbers = 45.4 64.5 42.4 52.5 53.4
['45.4', '64.5', '42.4', '52.5', '53.4']

In [84]:
my_list=[]
while len(my_list)<5:
    a=float(input("Enter 5 float numbers = "))
    my_list.append(a)
my_list

Enter 5 float numbers = 45.3
Enter 5 float numbers = 43.2
Enter 5 float numbers = 23.5
Enter 5 float numbers = 55.5
Enter 5 float numbers = 53.5

[45.3, 43.2, 23.5, 55.5, 53.5]

### 13. Print the sum of the current number and the previous number Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.
Expected result: 0,1,3,5,7,9,11,13,15,17,19

In [95]:
prev_num=0

for i in range(1, 11):
    total=prev_num+i
    prev_num=i
    print(total, end=" ")

1 3 5 7 9 11 13 15 17 19

### 14. : Write a python program to search a given number from a list

In [100]:
my_list=[1,2,3,4,5,6,7,8,9,0,12,14,15,16,23,24,26,27,28,31,53,75,74,99,88,77,66,55,44,33,22,11]
num=int(input("Number to be searched = "))
for i in my_list:
    if i==num:
        print('Number Found')
        break
else:
    print("Number not found")

Number to be searched = 101
Number not found

### 15. Write a program to find the simple interest when the value of principle, rate of interest and time period is given.
Simple_interest=(P*R*T)/100

In [101]:
p=float(input("Principle Amount = "))
r=float(input("Rate of Interest = "))
t=int(input("Time period in year = "))
simple_interest=(p*t*r)/100
print(f"Simple Interest is {simple_interest}")

Principle Amount = 10500.50
Rate of Interest = 12.5
Time period in year = 5
Simple Interest is 6562.8125

### 16. Write a program to find the volume of the cylinder. Also find the cost when ,when the cost of 1litre milk is 40Rs.
volume=pi* radius^2 * height

1 cm3=0.001 litre

In [106]:
radius=float(input("Enter the radius of cylinder in cm = "))
height=float(input("Enter the height of cylinder in cm = "))
volume=math.pi*radius**2*height
print("volume of the cylinder is in cm3 = ", volume)
print("cost of the milk is Rs = ", (volume*0.001)*40)

Enter the radius of cylinder in cm = 12.5
Enter the height of cylinder in cm = 3.4
volume of the cylinder is in cm3 =  1668.9710972195776
cost of the milk is Rs =  66.7588438887831

### 17.  Check Palindrome Number Write a program to check if the given number is a palindrome number.
A palindrome number is a number that is same after reverse. For example 545, is the palindrome numbers

In [110]:
num=int(input("Enter number = "))
reverse=int(str(num)[::-1])
if num==reverse:
    print("Entered number is palandrome")
else:
    print("Number is not palindrome")

Enter number = 1234321
Entered number is palandrome

### 18. write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [112]:
list_1=[1,2,3,4,5,6,7,8,9,10]
list_2=[11,22,33,44,55,66,77,88,99,111]
list_3=[]
for i in list_1:
    if i%2!=0:
        list_3.append(i)
for i in list_2:
    if i%2==0:
        list_3.append(i)
        
list_3

[1, 3, 5, 7, 9, 22, 44, 66, 88]

### 19. The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years. For eg current population is 10000 so the output should be like this:
#10th year - 10000
#9th year - 9000
#8th year - 8100 and so on

In [6]:
current_population=10000
rate=0.1 #10%
for i in range(1,11):
    current_population=current_population-current_population*0.1
    print(f"Popolation {i} year ago", int(current_population))

Popolation 1 year ago 9000
Popolation 2 year ago 8100
Popolation 3 year ago 7290
Popolation 4 year ago 6561
Popolation 5 year ago 5904
Popolation 6 year ago 5314
Popolation 7 year ago 4782
Popolation 8 year ago 4304
Popolation 9 year ago 3874
Popolation 10 year ago 3486

### 20.  Write a program to print all the unique combinations of two digits from 1 to 4.
for ex (1,2), (2,3).....

In [16]:
for i in range(1,5):
    for j in range(1,5):
        print(f"({i},{j})", end=", ")

(1,1), (1,2), (1,3), (1,4), (2,1), (2,2), (2,3), (2,4), (3,1), (3,2), (3,3), (3,4), (4,1), (4,2), (4,3), (4,4),

### 21. User will provide 2 numbers you have to find the HCF of those 2 numbers

In [19]:
x=int(input("enter the number: "))
y=int(input("enter the number: "))

x_perfect_divisor=[]
y_perfect_divisor=[]

for i in range(1,x+1):
     if x%i==0:
        x_perfect_divisor.append(i)
        
for i in range(1,y+1):
    if y%i==0:
        y_perfect_divisor.append(i)

HCF=[]
for i in x_perfect_divisor:
     if i in y_perfect_divisor:
        HCF.append(i)

print("HCF of given two number is ",max(HCF))

enter the number: 16
enter the number: 32
HCF of given two number is  16

### 22.  User will provide 2 numbers you have to find the by LCM of those 2 numbers

In [23]:
x=int(input("enter the first number: "))
y=int(input("enter the second number: "))
if x>y:
    bigger=x
else:
    bigger=y

    
while(True):
    if (bigger%x==0) and (bigger%y==0):
        LCM=bigger
        break
    bigger=bigger+1
        
print(LCM)

enter the first number: 56
enter the second number: 45
2520

### 23. Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [31]:
a=float(input("1st angle of triangle: "))
b=float(input("2nd angle of triangle: "))
c=float(input("3rd angle of triangle: "))
if a+b+c==180 and a!=0 and b!=0 and c!=0:
    print("Triangle can be formed")
else:
    print("Triangle cannot be formed")

1st angle of triangle: 60
2nd angle of triangle: 40
3rd angle of triangle: 100
Triangle cannot be formed

### 24. :Write a program that will determine weather, when the value of temperature and humidity is provided by the user.

TEMPERATURE(C)|  HUMIDITY(%)   |     WEATHER
  >=30        |    >=90        |   Hot and Humid
  >=30        |    <90         |      Hot
  <30         |    >=90        |  Cool and Humid
  <30         |    <90         |     Cool

In [32]:
temperature=int(input("Enter temperature in C = "))
humidity=int(input("Enter humidity in % = "))

if temperature>=30 and humidity>=90:
    print("Weather is Hot and Humid")
elif temperature>=30 and humidity<90:
    print("Weather is Hot")
elif temperature<30 and humidity>=90:
    print("Weather is Cool and Humid") 
else:
    print("Weather is Cool")

Enter temperature in C = 24
Enter humidity in % = 60
Weather is Cool

### 25. Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [34]:
cost_price=float(input("Enter the cost price of product in Rs = "))
selling_price=float(input("Enter the selling price of product in Rs = "))
if cost_price>selling_price:
    print("Encored Loss of ", cost_price-selling_price)
else:
    print("Encored Profit of ", selling_price-cost_price)

Enter the cost price of product in Rs = 34000
Enter the selling price of product in Rs = 34506
Encored Profit of  506.0

### 26. Write a program that will give you the in hand salary after deduction.

Deductions are HRA(10%),DA(5%), PF(3%), and tax
   Salary   |   Tax
5-10 lakh   |   10%
11-20lakh   |   20%
>20 Lakh    |   30%

In [38]:
salary=int(input("enter the salary amount: "))
if salary in range(500000,1000000):
    salary=salary-salary*0.1
elif salary in range(1100000,2000000):
    salary=salary-salary*0.2
elif salary> 2000000:
    salary=salary-salary*0.3
else:
    print("no tax")
    
print("Salary after tax cutting",salary)


HRA=salary*0.10
DA=salary*0.05
PF=salary*0.03
remain=salary-(HRA+DA+PF)

if remain in range(1000,99999):
    print("In hand salary after tax/HRA/DA/PF cutting",remain/1000,"K")
elif remain in range(100000,9999999):
    print("In hand salary after tax/HRA/DA/PF cutting",remain/100000,"Lakh")
else:
    print("in hand salary after tax/HRA/DA/PF cutting",remain/10000000,"Cr")

enter the salary amount: 500000
Salary after tax cutting 450000.0
In hand salary after tax/HRA/DA/PF cutting 3.69 Lakh

### 27. Write program for unit converter. INR to Dollar, KM to Miles and CM to feet

In [9]:
option=int(input("Select Conversion option:\n1 for INR to Dollar\n2 for KM to Miles\n3 for CM to Feet\nYour Option: "))
if option==1:
    rupee=float(input("Enter Currency in INR = "))
    dollar=round(rupee/82.08,2)
    print(f"{rupee} INR equal to {dollar} Dollar")
elif option==2:
    km=float(input("Enter distance in KM = "))
    miles=round(km*0.62137119,2)
    print(f"{km} KM equal to {miles} Miles")
elif option==3:
    cm=float(input("Enter height in CM = "))
    feet=round(cm*0.0328084, 2)
    print(f"{cm} CM equala to {feet} Feet")
else:
    print("Enter Valid option")

Select Conversion option:
1 for INR to Dollar
2 for KM to Miles
3 for CM to Feet
Your Option: 3
Enter height in CM = 160
160.0 CM equala to 5.25 Feet

### 28. Write a program to find the sum of first n numbers, where n will be provided by the user.

In [15]:
n=int(input("Enter the number = "))
total=0
for i in range(1, n+1):
    total=total+i
print(f"Sum of {n} numbers is {total}")

Enter the number = 11
Sum of 11 numbers is 66

### 29.  Write a program that can multiply 2 numbers provided by the user without using the * operator.

In [23]:
num1=int(input("Enter 1st number = "))
num2=int(input("Enter 2nd number = "))
total=0
for i in range(0, num2):
    total=total+num1
print(f"Multiplication of {num1} and {num2} is {total}")

Enter 1st number = 2
Enter 2nd number = 10
Multiplication of 2 and 10 is 20

### 30. :Write a program that can find the factorial of a given number provided by the user.

In [35]:
n=int(input("Enter a number = "))
fact=1
if n<0:
    print("Please provide positive numbers")
elif n==0 or n==1:
    print(f"Factorial of {n} is {fact}")
elif n>1:
    for i in range(1, n+1):
        fact=fact*i
    print(f"Factorial of {n} is {fact}")

Enter a number = 4
Factorial of 4 is 24

### 31. Write a program to print multiplication table of a given number in single line.

In [43]:
n=int(input("Enter number = "))
for i in range(1, 11):
    print(n*i, end=" ")

Enter number = 6
6 12 18 24 30 36 42 48 54 60

### 32.  Write a program to display only those numbers from a list that satisfy the following conditions
- The number must be divisible by five
- If the number is greater than 25, then skip it and move to the next number
- If the number is greater than 50, then stop the loop
### Display numbers from a list using loop.

In [47]:
lst=[1,2,5,10,14,15,35,26,35,55,33,46,12,14,15,20,55,25]

for i in lst:
    if i>50:
        break
    elif i >25:
        continue
    elif i%5==0:
        print(i)

5
10
15

### 33. Print list in reverse order using a loop

In [48]:
l1=[1,2,3,4,5]
for i in l1[::-1]:
    print(i,end=" ")

5 4 3 2 1

### 34. Display numbers from -10 to -1 using for loop

In [53]:
for i in range(-10,0):
    print(i, end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

### 35. Write a program to display all prime numbers within a range

In [4]:
num1=int(input("Enter lower range = "))
num2=int(input("Enter higher range = "))

prime_numbers=[]
for num in range(num1, num2+1):
    for i in range(2, num):
        if num%i==0:
            break
    else:
        print(num, end=" ")

Enter lower range = 100
Enter higher range = 200
101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

### 36.  Display Fibonacci series between 0 to number.
The first two numbers are 0 and 1.

In [12]:
n=int(input("Enter lower range = "))

num1=0
num2=1
print(num1,end=" ")
print(num2,end=" ")
for i in range(0,n):
    num3=num1+num2
    num1=num2
    num2=num3
    print(num3,end=" ")

Enter lower range = 20
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946

### 37. : Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [27]:
n=int(input("Enter 1st number: "))

sum_=0
avg=0
count=0
while True:
    if n != 0:
        sum_=sum_+n
        count=count+1
        avg=sum_/count
        n=int(input(f"Enter {count+1}st number: "))
 
    else:
        print("Enter number other than zero to continue")
        break

print("Sum is:",sum_)
print("Average is:",round(avg,2))

Enter 1st number: 10
Enter 2st number: 20
Enter 3st number: 30
Enter 4st number: 50
Enter 5st number: 0
Enter number other than zero to continue
Sum is: 110
Average is: 27.5

### 38. Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp. Note here exp is a non-negative integer, and the base is an integer.

In [29]:
def exponent(base, exp):
    print(pow(base, exp))

exponent(10,2)

100

### 39. Write a program to create a function that takes two arguments, name and age, and print their value.

In [37]:
def personal_info(name, age):
    print("Name of the person is {} and their age is {}".format(name, age))
    
personal_info("Suraj", 27)

Name of the person is Suraj and their age is 27

### 40. Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [40]:
lst=[12,32,14,14,41,51,53,12,15]

first=lst[0]
last=lst[-1]

def similarity(list):
    if first==last:
        print(True)
    else:
        print(False)
        
similarity(lst)

False

### 41. Create a function with variable length of arguments.

In [43]:
def create_list(*numbers):
    print(numbers)
    
create_list(10,20,30,40,50)

(10, 20, 30, 40, 50)

### 42.  Create a function with a default argument Write a program to create a function employee() using the following conditions.
- It should accept the employee’s name and salary and display both. If the salary is missing in the function call then assign default value 9000 to salary

In [44]:
def employee(name, salary=9000):
    print(f"Name of the employee is {name} and their salary is {salary}")
    
employee("Suraj", 0)

Name of the employee is Suraj and their salary is 0

In [46]:
employee("Siya")

Name of the employee is Siya and their salary is 9000

### 43. Create an inner function to calculate the addition in the following way
- Create an outer function that will accept two parameters, a and b
- Create an inner function inside an outer function that will calculate the addition of a and b
- an outer function will add 5 into addition and return it

In [59]:
def outer(a, b):
    def inner(a,b):
        return a+b
    add=inner(a,b)
    print(f"Sum after adding +5 into it is {add+5}")
    
outer(5,3)

Sum after adding +5 into it is 13

### 44. Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.
- A recursive function is a function that calls itself again and again.

In [62]:
def summation(num):
     if num==0:
        return 0
     else:
        return num+summation(num-1)

summation(10)

55

### 45. Write a program to create a recursive function to calculate the factorial of numbers from 0 to 10.

In [68]:
def factorial(num):
    if (num==1):
        return 1
    else:
        return num*factorial(num-1)

factorial(6)

720

### 46.  Assign a different name to function and call it through the new name

In [69]:
def factorial(num):
    if (num==1):
        return 1
    else:
        return num*factorial(num-1)

fact_of_num=factorial

fact_of_num(5)

120

### 47. Write a Python program to create a Vehicle class with max_speed and mileage instance attributes.

In [81]:
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed=max_speed
        self.mileage=mileage
    
        
maruti_suzuki=Vehicle(240, 40)
print(f"Max speed is {maruti_suzuki.max_speed}  and mileage is {maruti_suzuki.mileage}")

Max speed is 240  and mileage is 40

### 48. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

In [15]:
class Vehicles:
    def __init__(self, door, windows, color):
        self.door=door
        self.windows=windows
        self.color=color
        
class Buss(Vehicles):
    pass

passanger_bus=Vehicles(1, 62, "yellow")
school_bus=Vehicles(2, 52, "light blue")

print(f"Doors={passanger_bus.door}, Windos={passanger_bus.windows} and color={passanger_bus.color}")
print(f"Doors={school_bus.door}, Windos={school_bus.windows} and color={school_bus.color}")

Doors=1, Windos=62 and color=yellow
Doors=2, Windos=52 and color=light blue

### 49. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

In [27]:
class Vehicles:
    def __init__(self, name, door, windows, color):
        self.name=name
        self.door=door
        self.windows=windows
        self.color=color
    def sitting_capacity(self,capacity):
        return f"sitting capacity of bus {self.name} is {capacity} passanger"
        
class Bus(Vehicles):
    def sitting_capacity(self,capacity=50):
         return super().sitting_capacity(capacity=50)
    
    
tata=Vehicles("TATA", 2, 56, "Red")
tata.sitting_capacity(100)

'sitting capacity of bus TATA is 100 passanger'

### 50.  Generate a random Password which meets the following conditions Password length must be10 characters long.
- It must contain at least 1 upper case letters, 1 digit, and 1 special symbol

In [31]:
import random
import string

def randomPassword():
    randomSource=string.ascii_letters+string.digits+string.punctuation
    password=random.sample(randomSource,6)
    password+=random.sample(string.ascii_uppercase,1)
    password+=random.choice(string.digits)
    password+=random.choice(string.punctuation)

    passwordList=list(password)

    random.SystemRandom().shuffle(passwordList)
    password="".join(passwordList)
    return password
print("password is: ",randomPassword())

password is:  ;r9KPM|?N